th {
    text-align: center;
}
.color-option {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 2px;
    text-align: center;
    color: #fff; /* 默认为白色文本 */
  }
