/* 使用 !important 来强制覆盖样式 */
.fc-button {
    background-color: #007bff !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
}

.fc-button:hover {
    background-color: #0056b3 !important;
}

.fc-today-button {
    background-color: #28a745 !important;
    color: white !important;
}

.fc-prev-button,
.fc-next-button {
    margin: 5% !important;
    background-color: #ffc107 !important;
    color: black !important;
}

.fc-button-active {
    background-color: #17a2b8 !important;
    color: white !important;
}